@charset "UTF-8";

*{
    margin: 0px;

    padding: 0px;

    box-sizing: border-box;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}

body{
    background-color: black;
}

/*inicio do cabeçalho*/
header{
    width: 100vw;
    height: 400px;
}

#containerImgTopo{
    background-image: url(img/fundoTopo.jpg);
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 200px;
}

#containerTituloTopo{
    position: relative;

    height: 200px;

    margin: 0px 10px;

    border-bottom: 2px solid rgba(255, 255, 255, 0.575);
}

#imgEliseu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-120%);

    border-radius: 50%;

    width: 150px;
}

#containerTextoTopo{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#containerTituloTopo h2,#containerTituloTopo p{
    color: white;

    text-align: center;

    padding-bottom: 10px;
}

#linkedinIcone{
    background-color: #7124E2;

    border-radius: 20%;
}

/*fim do cabeçalho*/

/*inicio do main*/

main{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-top: 30px;
}

.acessos{
    width: 300px;
    height: 50px;

    border: 1px solid #7024e271;
    border-radius: 10px;

    margin-bottom: 20px;

    padding: 10px;

    display: flex;
}

.linkAcessos{
    text-decoration: none;
    color: white;
}

.containerImgLinks{
    justify-self: left;
    align-self: center;
}

.containerLegendaLinks{
    align-self: center;
    margin: auto;
}

/*fim do main*/


